<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.jsv.icec">

    <application>

        <activity
            android:name="team.jsv.icec.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/ICECSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="team.jsv.icec.ui.camera.CameraActivity"
            android:exported="false"
            android:theme="@style/ICECCameraTheme">
        </activity>

        <activity
            android:name="team.jsv.icec.ui.main.MainActivity"
            android:exported="false"
            android:theme="@style/ICECTheme">
        </activity>

        <activity
            android:name="team.jsv.icec.ui.main.mosaic.result.MosaicResultActivity"
            android:exported="false"
            android:theme="@style/ICECTheme">
        </activity>

        <activity
            android:name="team.jsv.icec.ui.main.start.StartActivity"
            android:exported="false"
            android:theme="@style/ICECTheme">
        </activity>

        <!-- Set Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="team.jsv.icec.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>